{% macro printRecord(record, baseURL) %}
  {% import _self as printMacros %}

  <table class="job">
    <tr>
      <th colspan="2"><a href="{{ baseURL }}/jobs/{{ record.meta.id }}">Job #{{ record.meta.id }}</a></th>
    </tr>
    <tr>
      <td>Job name</td>
      <td>{{ record.meta.jobName }}</td>
    </tr>
    <tr>
      <td>Created</td>
      <td>{{ record.meta.datetime }}</td>
    </tr>
    <tr>
      <td>Job Data</td>
      <td>{{ printMacros.printValue(record.job) }}</td>
    </tr>
    <tr>
      <td>Runs</td>
      <td>{{ printMacros.printValue(record.runs) }}</td>
    </tr>
    {% if record.context.exception_message is defined %}
      <tr>
        <td>Error</td>
        <td>{{ record.context.exception_message }}</td>
      </tr>
    {% endif %}

  </table>
{% endmacro %}

{% macro printValue(value) %}
  {% import _self as printMacros %}

  {% if value is iterable %}
    <table>
      {% for k, v in value %}
      <tr>
        <td class="key">{{ k }}</td>
        <td class="value">{{ printMacros.printValue(v) }}</td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    {{ value|nl2br }}
  {% endif %}

{% endmacro %}
